/* .admin-dashboard ul {
  max-width: 500px;
  margin: auto;
}

.form input, .form button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.form button {
  background-color: #ff69b4;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.card img {
  height: 200px;
  object-fit: cover;
} */
